version: "3.9"

services:
  backend:
    image: dataaggergatorpresentation:dev
    build:
      context: .
      dockerfile: DataAggergator.Presentation/Dockerfile
    depends_on:
      - seq
      - rabbitmq
      - postgres
      - keycloak

  postgres:
    image: postgres:latest
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-keycloak:
    image: postgres:latest
    volumes:
      - keycloak-pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  seq:
    image: datalust/seq:latest
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    depends_on:
      postgres-keycloak:
        condition: service_healthy

  nginx:
    image: nginx:latest
    ports:
      - "1324:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # Host : Container  
    depends_on:
      - backend

volumes:
  pgdata:
  keycloak-pgdata: